<div id="player_1" class="<%=@game.active_player == @game.player_1 ? 'active_player' : ''%>">
  <h1><%=@game.player_1.name%></h1>
  <p id="p1_hp"><%=@game.player_1.hitpoints%> HP</p>
</div>

<div id="player_2" class="<%=@game.active_player == @game.player_2 ? 'active_player' : ''%>">
  <h1><%=@game.player_2.name%></h1>
  <p id="p2_hp"><%=@game.player_2.hitpoints%> HP</p>
</div>

<div class="">
  <a href="/attack" id="attack_button">Attack</a>
  <a href="/attack" id="paralyse-button">Paralyse</a>
  <a href="/attack" id="sleep-button">Sleep</a>
  <a href="/attack" id="poison-button">Poison</a>
  <a href="/attack" id="heal-button">Heal</a>
</div>

<div id="game_messages" class="">
  <ul>
    <%= @message_log.messages.reverse.map { |message| "<li>#{message}</li>" }.join %>
  </ul>

</div>
