<h1>P1 <%=@p1_name%> and P2 <%=@p2_name%> have entered the game</h1>

<div class="">
  <h1><%=@p1_name%></h1>
  <p id="p1_hp"><%=@p1_hp%> HP</p>
</div>

<div class="">
  <h1><%=@p2_name%></h1>
  <p id="p2_hp"><%=@p2_hp%> HP</p>
</div>
